# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\2020-12-22-Java概述\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
